ul.dropdown-cart {
    min-width: 350px;
}

ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
    position: relative;
}

ul.dropdown-cart li .item:hover {
    background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left {
    float: left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
}

ul.dropdown-cart li .item-left img {
    width: 50px;
    height: 50px;
}

ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}

ul.dropdown-cart li .item-right {
    float: right;
}

ul.dropdown-cart li .item-right button {
    margin-top: 14px;
}

.trauncate {
    width: 185px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cartprice {
    float: right;
    display: inline-block;
    position: absolute;
    right: 35px;
    font-size: 15px;
    font-weight: 600;
    top: 18px;
}

.cartbtn {
    position: relative;
    display: block;
    padding: 10px 15px;
    background: none;
    color: #fff;
    border: none;
    margin: 5px;
}

.norecord {
    border: none !important;
    padding-bottom: 15px !important font-size: 20px;
    font-weight: 600;
}

.norecord span {
    display: block;
    margin: 5px 0px;
}

.cart-nav h1 {
    margin: 10px 0px;
    font-size: 38px;
    text-align: center;
}

.cart-nav .cart-item img {
    width: 70px;
    height: 85px;
    float: left;
}

.cart-nav .cart-item,
.cart-nav {
    width: 100%;
    float: left;
    margin: 0px;
}

.cart-nav .cart-item h6 {
    margin-top: 23px;
    display: block;
    width: 180px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cart-nav .cart-item span {
    display: block;
    padding-left: 5px;
    float: left;
}

.side-nav li {
    float: left;
    padding: 0 5px;
    width: 100%;
    position: relative;
}

.remove-button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 14px;
    padding: 0px !important;
    font-size: 0px !important;
    line-height: 55px !important;
    top: 50%;
    margin-top: -18px;
}

.side-nav li:hover,
.side-nav li.active {
    background-color: #fff;
}

.cart-nav h3.sub-total {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

.cart-nav .divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    float: left;
    width: 100%;
}

.cart-nav span.badge {
    line-height: 23px;
    right: 0px;
    margin-left: 12px;
    position: relative;
}

.cart-button {
    width: 100%;
    float: left;
    margin: 10px 0px;
    text-align: center;
}

.bottom-details {
    position: absolute;
    bottom: 60px;
    width: 100%;
    float: left;
}

.card .card-image img {
    height: 200px;
    width: 200px;
    margin: 0px auto;
}

.card .card-title {
    font-size: 22px;
}

.cart-float-button sup {
    position: absolute;
    color: #ddf1f0;
    z-index: 999;
    font-size: 15px;
    background: #2196f3;
    /* width: 20px; */
    height: 20px;
    right: 3px;
    top: 8px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 30px;
}

.cart-float-button {
    position: relative;
}

.product-img {
    width: 100px;
}

.d-tc {
    display: table-cell;
    vertical-align: middle;
}

.pl20 {
    padding-left: 20px;
}

.wrap-td {
    width: 60%;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

table tbody tr {
    border-bottom: 1px solid #d0d0d0;
}

.price {
    width: 200px;
    white-space: nowrap;
}

.quantity {
    width: 70px;
    white-space: nowrap;
}

.subtotal {
    width: 200px;
    white-space: nowrap;
}

td.price,
td.quantity,
td.subtotal {
    font-size: 20px;
    font-weight: 700;
}

.total-price {
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    padding-right: 15px;
}

.cart-go-btn {
    width: 180px;
    line-height: 38px !important;
    text-align: center;
    margin: 0px auto;
    height: 38px !important;
    color: #fff !important;
    background-color: #2196f3;
}

.product-type h3 {
    font-size: 23px;
    padding: 5px 25px;
    background: #2bbbad;
    color: #fff;
    text-transform: uppercase;
}

.default_color {
    background-color: #2196F3 !important
}

.default_color_text {
    color: #2196F3 !important
}

.icon-block {
    padding: 0 15px;
}

#intro,
#work,
#team {
    padding-top: 4rem;
}

#index-banner {
    min-height: 170px;
    max-height: 170px;
    position: relative;
    background-color: #2196F3;
}

#nav_f {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.text_h {
    padding: 0% 0;
    font-size: 50px;
    font-weight: 100;
    color: white;
}

.brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {
    font-weight: 100;
    margin-bottom: 4%;
    line-height: 4.5rem;
}

.span_h2 {
    font-weight: 300;
    color: #2196F3;
}

.text_b {
    color: #2196F3;
}

.in {
    font-weight: 400 !important;
    font-style: normal !important;
}

.promo i {
    color: #2196F3;
    font-size: 7rem;
    display: block;
}

.card-content a {
    color: #2196F3;
}

.card-content a:hover {
    color: #2196F3;
}

#work,
#team {
    background: rgb(247, 247, 247);
}

.text_pink {
    color: #EF9A9A;
}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #2196F3;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}

.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 1200;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input,
textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
    font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}

.black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #000;
    overflow: hidden;
    z-index: 9999!important;
}

.preloader-wrapper.big {
    left: 50%;
    margin: 0px;
    position: fixed;
    top: 45%;
    z-index: 99999!important;
}
