<table id="cart" class="table table-hover table-condensed" ng-controller="cart">
    <thead>
        <tr ng-if="!cart.length == 0">
            <th>Product</th>
            <th class="center price">Price (Rs.)</th>
            <th class="left quantity">Quantity</th>
            <th class="center subtotal">Subtotal(Rs.)</th>
            <th class="center"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cartitem in cart track by $index" ng-if="!cart.length == 0">
            <td data-th="Product" class = "wrap-td">
                <div class="row">
                    <div class = "d-tc"><img ng-src="img/phones/{{cartitem.imageUrl}}" alt="..." class="product-img" /></div>
                    <div class = "d-tc pl20">
                        <h4 class="nomargin">{{cartitem.name}}</h4>
                        <p>{{cartitem.desc}}</p>
                    </div>
                </div>
            </td>
            <td data-th="Price" class =  "center price">{{cartitem.price | number}}</td>
            <td data-th="Quantity" class =  "quantity">
                   
                <input type="number" class="form-control center" min="1" ng-model="cartitem.quantity">
            </td>
            <td data-th="Subtotal" class="center subtotal">{{cartitem.quantity * cartitem.price | number}}</td>
            <td class="actions center" data-th="">
                <button class="btn btn-danger btn-sm" ng-click="deletecartitem(cartitem)"><i class="material-icons">delete</i></button>
            </td>
        </tr>
        <tr ng-if="cart.length == 0">
            <td class = "norecord center">
                <span>No item added in cart</span>
            </td>
        </tr>
        <tr ng-if="cart.length == 0">
            <td class = "norecord center">
               <a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
            </td>
        </tr>
    </tbody>
    <tfoot ng-if="!cart.length == 0">
        
        <tr>
            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
            <td colspan="3"  class="text-right total-price">Rs. {{calcTotal() | number}}</td>
            <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
        </tr>
    </tfoot>
</table>