<h2 class="header text_b">Product</h2>
<div class="row product-type" ng-repeat="cat in getCategories()" >
 <h3>{{cat}}</h3>
    <div class="col s12 m4 l4" ng-repeat="item in productItem | filter:{categories: cat}">
   
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" ng-src="img/phones/{{item.imageUrl}}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{item.name}} <i class="mdi-navigation-more-vert right"></i></span>
                <p class="center-align">
                    <!-- <a href="#">Project link</a> -->
                    <button type="button" class="btn btn-primary" ng-click="buynow(item)">Add To Cart</button>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{item.name}} <i class="mdi-navigation-close right"></i></span>
                <p>{{item.desc}}</p>
            </div>
        </div>
    </div>
</div>




