ul.dropdown-cart {
    min-width: 350px;
}

ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
    position: relative;
}

ul.dropdown-cart li .item:hover {
    background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left {
    float: left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
}

ul.dropdown-cart li .item-left img {
    width: 50px;
    height: 50px;
}

ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}

ul.dropdown-cart li .item-right {
    float: right;
}

ul.dropdown-cart li .item-right button {
    margin-top: 14px;
}

.trauncate {
    width: 185px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cartprice {
    float: right;
    display: inline-block;
    position: absolute;
    right: 35px;
    font-size: 15px;
    font-weight: 600;
    top: 18px;
}

.cartbtn {
    position: relative;
    display: block;
    padding: 10px 15px;
    background: none;
    color: #fff;
    border: none;
    margin: 5px;
}


.norecord{

                    border:none !important;
                    padding-bottom:15px !important
                    font-size:20px;
                    font-weight:600;







}






.norecord span{

                    display:block;
                    margin:5px 0px;






}
