<!DOCTYPE html>
<html lang="en" ng-app="ecommerceapp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet">
    <link href="css/app.css" type="text/css" rel="stylesheet">
</head>

<body id="top" class="scrollspy">
    <div class="black-overlay" data-loading>
    </div>
    <div class="preloader-wrapper big active spinner-red" data-loading>
        <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <!--Navigation-->
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="javascript:void(0);" id="logo-container" class="brand-logo">Angular Shop App</a>
                </div>
            </div>
        </nav>
    </div>
    <div ng-controller="cart">
        <div class="side-nav cart-nav" id="slide-out">
            <h1>CART</h1>
            <ul>
                <li ng-repeat="cartitem in cart track by $index">
                    <div class="cart-item">
                        <img src="img/phones/{{cartitem.imageUrl}}">
                        <h6>{{cartitem.name}}</h6>
                        <span class="price">{{cartitem.quantity * cartitem.price | currency:"&#8377;"}} </span><span class="new badge" data-badge-caption="custom caption">{{cartitem.quantity}}</span>
                    </div>
                    <a href="javascript:void(0);" title="Remove this item" ng-click="deletecartitem(cartitem)" class="mdl-button remove-button"><i class="material-icons">close</i></a>
                </li>
                <li ng-if="cart == 0" class="center">
                    <h5>No Item Added</h5>
                </li>
            </ul>
            <div class="bottom-details">
                <div class="divider"></div>
                <h3 class="sub-total">Subtotal: <strong>Rs.{{calcTotal() | number}}</strong></h3>
                <div class="divider"></div>
                <div class="cart-button">
                    <a href="#!/cart" class="waves-effect waves-light btn cart-go-btn">
                        <i class="material-icons right">shopping_cart</i>Go To Cart
                    </a>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a href="#" id="button-collapse" data-activates="slide-out" class="button-collapse cart-float-button btn-floating btn-large red"><sup>{{cart.length}}</sup><i class="material-icons">shopping_cart </i></a>
        </div>
    </div>
    <!-- <div id="toast-container" ng-class="test ? 'show' : 'hide'">
    </div> -->
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="text_h center header cd-headline letters type">
            <span>Welcome to</span> 
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">Online Shopping</b>
                <b>App</b>
                
            </span>
        </h1>
        </div>
    </div>
    <!--Work-->
    <div class="container">
        <div ng-view>
        </div>
    </div>
    <!--Footer-->
    <footer id="contact" class="page-footer default_color scrollspy">
        <div class="container">
            <div class="row">
                <div class="col l3 s12">
                    <h5 class="white-text">Social</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="javascript:void(0);">
                                <i class="small fa fa-behance-square white-text"></i> Behance
                            </a>
                        </li>
                        <li>
                            <a class="white-text" href="javascript:void(0);">
                                <i class="small fa fa-facebook-square white-text"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a class="white-text" href="javascript:void(0);">
                                <i class="small fa fa-github-square white-text"></i> Github
                            </a>
                        </li>
                        <li>
                            <a class="white-text" href="javascript:void(0);">
                                <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright default_color">
            <div class="container">
                Made by <a class="white-text" href="javascript:void(0);">Tapan.L.Dave</a>.
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.6.3/angular-cookies.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.6.3/angular-route.js"></script>
    <script type="text/javascript" src="js/bootstrapApp/module.js"></script>
    <script type="text/javascript" src="js/services/appService.js"></script>
    <script type="text/javascript" src="js/controller/product.js"></script>
    <script type="text/javascript" src="js/controller/cart.js"></script>
    <script src="js/materialize.js"></script>
    <!--  Scripts-->
    <script type="text/javascript">
    $('#button-collapse').sideNav({
        menuWidth: 300, // Default is 300
        edge: 'right', // Choose the horizontal origin
        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        draggable: true // Choose whether you can drag to open on touch screens
    });
    //var toastContent = $('#toast-container');
    // Materialize.toast('Product Added Cart', 5000, '#toast-container');
    </script>
</body>

</html>
